.chartAxis path,
.chartAxis line {
  fill: none;
  stroke-width: 2px;
  stroke: #8888aa;
  shape-rendering: crispEdges;
}

.chartLegend {
   fill: #eeeeff;
}

text {
   fill: #6666aa;
}

.chartBar0 {
   fill: #88cc88;
}
.chartBar1 {
   fill: #cc8888; 
}
.chartBar2 {
   fill: #8888ff;
}
.chartBar3 {
   fill: #ffcc88;
}

.chartLine {
   fill: none;
   stroke: #ffcc88;
   stroke-width: 5px;
}

svg {
   background-color: white;
}

.chartTitle {
   font-weight: bold;
   font-size: 30px;
   font-family: Sans-Serif;
   fill: #8888aa;
}

.chartSubTitle {
   font-weight: normal;
   font-size: 20px;
   font-family: Sans-Serif;
   fill: #8888aa;
}
