.tachoBorderIn {
  fill: #eeeeff;
  stroke-width: 2px;
  stroke: #8888aa;
}

.tachoNeedle, .tachoValueRect, .tachoBorderOut {
  stroke-width: 2px;
  stroke: #8888aa;
  fill: #000066;
}

.tachoScale, .tachoTick {
  fill: none;
  stroke-width: 5px;
  stroke: #00ffff;
}

.tachoTickLabel {
   fill: black;
   font-weight: bold;
}

.tachoValue {
   font-size: 1.8em;
   font-weight: bold;
}
