.tachoBorderIn {
  fill: #ffffff;
  stroke-width: 1px;
  stroke: #ffffff;
}

.tachoValueRect, .tachoBorderOut {
  stroke-width: 1px;
  stroke: #ffffff;
  fill: #cccccc;
}

.tachoNeedle {
  stroke-width: 1px;
  stroke: #555555;
  fill: #ff8c00;
}

.tachoScale, .tachoTick {
  fill: none;
  stroke-width: 2px;
  stroke: #555555;
}

.tachoTickLabel {
   fill: #333333;
   font-size: 0.7em;
}

.tachoValue {
   fill: #333333;
   font-size: 0.8em;
   font-weight: bold;
}
